<form action="" (ngSubmit)="addcustmer()">
  <label for="fname">Name</label><br>
  <input type="text" id="fname" name="fname" [(ngModel)]="Name"><br>
  <label for="fname">username</label><br>
  <input type="text" id="fname" name="fname" [(ngModel)]="Username"><br>
  <label for="fname">phone</label><br>
  <input type="text" id="fname" name="fname" [(ngModel)]="phone"><br>
</form> 
<div>{{Name}}</div>
<div>{{Username}}</div>
<div>{{phone}}</div>
<div class="container mt-3">
  <h2>pepole list</h2><br>
  <button type="button" class="btn btn-primary mb-3">Add</button>            
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">phone</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cs of custmer">
        <td scope="row">1</td>
        <td>{{cs.Name}}</td>
        <td>{{cs.Username}}</td>
        <td>{{cs.phone}}</td>
        <td><button type="button" class="btn bg-primary m-2 text-white">Details</button>
        <button type="button" class="btn bg-danger m-2 text-white">Delet</button>
        <button type="button" class="btn bg-warning m-2">Update</button></td>
      </tr>
    </tbody>
  </table>
</div>